html {
    position: relative;
}

#root {
    width: 100%;
    color: black;
    background-color: white;
}

/* Remove ugly outline from after you click a button */
.MuiButtonBase-root:focus {
    outline: none;
}

.course-id {
    white-space: nowrap;
}


div.MuiAccordionSummary-content.Mui-expanded {
    margin: 12px 0 12px !important;
}
