html {
    position: relative;
}

#root {
    color: black;
    background-color: white;

    width: 100vw;
    height: 100vh;
    fontSize: 0.9em;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* margin: 0; */
    /* transform: scale(0.9); */
    /* transform-origin: top left; */
    /* height: 111.112vh; */
    /* width: 111.112vw; */
}

/* Remove ugly outline from after you click a button */
.MuiButtonBase-root:focus {
    outline: none;
}

.course-id {
    white-space: nowrap;
}


div.MuiAccordionSummary-content.Mui-expanded {
    margin: 12px 0 12px !important;
}
